%div{:class => 'row'}
  %div{:class => 'col-lg-12'}
    %h1{:class => 'page-header'}
      Welcome
    %ol{:class => 'breadcrumb'}
      %li
        %i{:class => 'fa fa-dashboard'}
        <a href="/">Home</a>
      %li{:class=>'active'}
        <i class="fa fa-table"></i> Welcome



    = render partial: 'layouts/messages'

    = render partial: 'sessions/login'

    = render partial: 'layouts/welcome'
