%nav{class:'navbar navbar-inverse navbar-fixed-top', role:'navigation'}
  =render partial: 'layouts/partials/navbar_header'
  =render partial: 'layouts/partials/navbar_right'
  =render partial: 'layouts/partials/menu'